The goal for this notebook is to load all the csv files from the data folder for use in our data science pipeline

In [6]:
# !pip install pandas

In [7]:
import os
import pandas as pd

In [8]:
cwd = os.getcwd() # dirname(abspath(__file__)
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')

In [9]:
os.listdir(DATA_DIR)

['2008.csv',
 '2020.csv',
 '2021.csv',
 '2009.csv',
 '2022.csv',
 '2019.csv',
 '2018.csv',
 '2001.csv',
 '2015.csv',
 '2014.csv',
 '2000.csv',
 '2016.csv',
 '2002.csv',
 '2003.csv',
 '2017.csv',
 '2013.csv',
 '2007.csv',
 '2006.csv',
 '2012.csv',
 '2004.csv',
 '2010.csv',
 '2011.csv',
 '2005.csv']

In [12]:
my_items = [{'category': 'Action', 'title': 'My awesome movie'}, {'category':'comedy', 'title':'Data Jokes are Us'}]
df = pd.DataFrame(my_items)

In [13]:
df.head()

  category              title
0   Action   My awesome movie
1   comedy  Data Jokes are Us

In [14]:
df['category']

0    Action
1    comedy
Name: category, dtype: object

In [15]:
df['title']

0     My awesome movie
1    Data Jokes are Us
Name: title, dtype: object

In [16]:
df.iloc[0]

category              Action
title       My awesome movie
Name: 0, dtype: object

In [17]:
df.iloc[1]

category               comedy
title       Data Jokes are Us
Name: 1, dtype: object

In [18]:
my_data = os.path.join(DATA_DIR, '2019.csv')
print(os.path.exists(my_data))

True

In [20]:
test_frame = pd.read_csv(my_data)
test_frame.head(10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Avengers: Endgame,"$2,797,501,328","$858,373,000",30.7%,"$1,939,128,328",69.3%
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%
5,6,Joker,"$1,074,251,311","$335,451,311",31.2%,"$738,800,000",68.8%
6,7,Star Wars: Episode IX - The Rise of Skywalker,"$1,074,144,248","$515,202,542",48%,"$558,941,706",52%
7,8,Toy Story 4,"$1,073,394,593","$434,038,008",40.4%,"$639,356,585",59.6%
8,9,Aladdin,"$1,050,693,953","$355,559,216",33.8%,"$695,134,737",66.2%
9,10,Jumanji: The Next Level,"$800,059,707","$320,314,960",40%,"$479,744,747",60%

In [21]:
test_frame.tail(10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
190,191,Hotel Mumbai,"$21,314,816","$9,651,611",45.3%,"$11,663,205",54.7%
191,192,Integrity,"$21,290,004",-,-,"$21,290,004",100%
192,193,The Secret Mission,"$21,083,522",-,-,"$21,083,522",100%
193,194,This Is Tomas,"$20,084,169",-,-,"$20,084,169",100%
194,195,The Specials,"$19,363,826",-,-,"$19,363,826",100%
195,196,Always Miss You,"$19,015,465","$91,884",0.5%,"$18,923,581",99.5%
196,197,An Officer and a Spy,"$18,878,658",-,-,"$18,878,658",100%
197,198,Crayon Shin-chan: Honeymoon Hurricane - The Lo...,"$18,738,951",-,-,"$18,738,951",100%
198,199,Greta,"$18,653,107","$10,532,219",56.5%,"$8,120,888",43.5%
199,200,Peppa Celebrates Chinese New Year,"$18,653,040","$131,225",0.7%,"$18,521,815",99.3%